:root {
    --primary-color: #FAF9F6;
    --text-collor: black;
}

body {
    background-color: var(--primary-color);
    color: var(--text-collor);
}

#quote-body {
    height: 320px;
    width: 800px;
    border: 2px solid var(--text-collor);
    padding: 20px;
}